*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
app/assets/.components
app/assets/components/polymer-test-tools
app/assets/components/core-docs
app/assets/components/core-tests
app/assets/components/**/.bower.json
app/assets/components/**/bower.json
app/assets/components/**/README.md
app/assets/components/**/README.html
app/assets/components/**/CHANGES.html
app/assets/components/**/COPYING
app/assets/components/**/index.html
app/assets/components/**/demo.html
app/assets/components/**/demo2.html
app/assets/components/**/test
app/assets/components/**/tests
app/assets/components/**/demos
app/assets/components/**/examples
app/assets/components/**/bin
app/assets/components/**/tutorial
app/assets/components/**/*.log
app/assets/components/**/*.js.map
app/assets/components/**/*.sh
app/assets/components/**/*.yml
app/assets/components/**/*.conf
