*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/app/assets/components/polymer
/app/assets/components/webcomponentsjs


/app/assets/components/**/test
/app/assets/components/**/demo
/app/assets/components/**/bin
/app/assets/components/**/doc
/app/assets/components/**/man
/app/assets/components/**/bower.json
/app/assets/components/**/package.json
/app/assets/components/**/index.html
/app/assets/components/**/README.md
/app/assets/components/**/LICENSE
/app/assets/components/**/CONTRIBUTING.md
/app/assets/components/**/hero.svg
